.offset:before { /*This prevents html Anchor tags from linking into the Navbar */
	display: block; 
 	content: " "; 
  	height: 70px;      /* Give height of your fixed element */
        margin-top: -70px; /* Give negative margin of your fixed element */  	
        visibility: hidden; 
}
/* change the default distance measure to black text*/
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	color: black;
  }

  .notebook-embed{
	margin-left: 75px;
	margin-top: 20px;
  }