.offset:before { /*prevent html Anchor tags from rolling into the Navbar */
	display: block; 
 	content: " "; 
  	height: 70px;      /* height of navbar */
    margin-top: -70px; /*  negative margin of the navgar */  	
    visibility: hidden; 
}
/* change the default distance measure to black text - it's grey on white */
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	color: black;
  }

  .notebook-embed{
	margin-left: 75px;
	margin-top: 20px;
	background-color: #5A5A5A;
  }